body{
    padding:0px;
    margin:0px;
    height:100%;
}
.mainDiv{
    margin:0px;
    background-color: darkgray;
    height:100%;
}
#areaA{
    background-color:darkgreen;
}
#areaB{
    background-color: darkmagenta;
}
#areaC{
    background-color: darkorange;
}
#tableArea{
    margin-left:20%;
    width:60%;
    background-color: darkturquoise;
}