.container div{
    border: 1px solid #000;
    width:30%;
    float: left;
}
.imageArea{
    background-color: cadetblue;
    width:40%;
    height:200px;
}
.mobilearea{
    display: none;
}
/* スマホとタブレット共通 */
@media screen and (max-width:1024px) {
    
}
/* タブレット */
@media screen and (min-width:641px) and (max-width:1024px) {
    .container div{
        width:47%;
        color:blue;
    }
    .mobilearea{
        display: block;
    }
    .pcarea{
        display: none;
    }
}
/* スマホ */
@media screen and (max-width:640px) {
    .container div{
        width:100%;
        color:red;
    }
    .imageArea{
        background-color: cadetblue;
        width:100%;
        height:200px;
    }
    .mobilearea{
        display: block;
    }
    .pcarea{
        display: none;
    }
}